<h1>About SplurtyAbroad</h1>
<div class="col-12">


  <div class="row">
    <div class="col-12 col-sm-4 vcenter">
      <%= image_tag 'JVH.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1 vcenter about">
      <div>
        <!--<h2 class="text-center">Justin Velander Holt</h2>-->
        <!--<br />-->
          <h5><p><span class="nobreak">SplurtyAbroad</span> was built by <a href="https://github.com/justinvholt/" target="_blank">Justin Velander Holt</a>, a storyteller, globetrotter and novice web developer who is striving to enhance his new skill set while living and working on the road. If you search the right location on this app, you might find him and his penguin mascot, Truxton, seeking out the best desserts in the region.</p> 

          <p>If you don't have a passport yet, he highly encourages you to apply for one <a href="https://travel.state.gov/content/passports/en/passports/apply.html" target="_blank" > here</a>.</p>

          <p>If you want to learn how to code, definitely consider <a href="http://www.thefirehoseproject.com/" target="_blank">The Firehose Project</a>.</p></h5>
      </div>
    </div>
  </div>
</div>
