<h1>Enter a city or country you'd like to visit</h1>
<input id="pac-input" class="controls" type="text" placeholder=" ">

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWe6kg7iXYs11CUtWN5nsk0lFIHy0KRd4&libraries=places&callback=initAutocomplete"
    async defer></script>
