<p>Hey Velander,</p>

<p>The following quote was just submitted for the SplurtyAbroad site:</p> 

<p><%= @quote.saying %></p>
<p>- <%= @quote.author %></p>

<p>Do you want to accept it or no?</p>

<p>Keep coding, dummy,<br />
JVH</p>
