@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');

.clear {
  clear: both;
}

header {
  margin-top: auto;
  margin-bottom: -20px;
}
  
.vcenter {
  display: flex;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
}

.logo_image {
  max-width: 60%;
  max-height: 60%;
  align-items: center;
//   img source: https://www.behance.net/gallery/5568429/Various-Logo-Designs
}

.site_name {
  font-family: 'Cinzel', serif;
  font-weight: 700px;
  margin-left: -120px;
}

.text {
  font-size: 22px;   
  font-weight: bold;
  overflow-wrap: normal;
}

.slogan {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 18px;
  font-style: italic;
  overflow-wrap: normal;
}

.links {
  margin-left: 120px;
}

.links a {
  color: black;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 25px;
  border-bottom: 0px solid #DFDFDF;
  display: inline;
  margin-right: 40px;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

h3 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

h5 {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

.next-quote {
  color: #F84342;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 18px;
//   text-decoration: underline;
}

.footer-blurb {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
  font-style: italic;
  text-align: right;
}

#map {
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
  opacity: 0.5;
}

#map-container {
  z-index: 100;
  position: relative;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  width: 100%;
  background-clip:padding-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  border-bottom-color:rgba(45, 88, 125, 0.255);
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgba(45, 88, 125, 0.255);
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:rgba(45, 88, 125, 0.255);
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:rgba(45, 88, 125, 0.255);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:border-box;
  color:rgb(70, 74, 76);
  cursor:auto;
  display:block;
  font-family:sans-serif;
  font-size:16px;
  font-stretch:normal;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:normal;
  height:38px;
  letter-spacing:normal;
  line-height:20px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  overflow-x:visible;
  overflow-y:visible;
  padding-bottom:8px;
  padding-left:12px;
  padding-right:12px;
  padding-top:8px;
  text-align:start;
  text-indent:0px;
  text-rendering:auto;
  text-shadow:none;
  text-size-adjust:100%;
  text-transform:none;
  touch-action:manipulation;
  transition-delay:0s, 0s, 0s;
  transition-duration:0.15s, 0.15s, 0.15s;
  transition-property:border-color, box-shadow, -webkit-box-shadow;
  transition-timing-function:ease-in-out, ease-in-out, ease-in-out;
  user-select:text;
  word-spacing:0px;
  writing-mode:horizontal-tb;
  -webkit-appearance:none;
  -webkit-rtl-ordering:logical;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-border-image:none;
}

input:focus {
  outline:none;
}
