@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');

.clear {
  clear: both;
}

header {
  border-top: 9px solid #222222;
}

#header-elements {
  display: inline-block;
  vertical-align: middle;
}

img.resize {
  max-width: 60%;
  max-height: 60%;
//   img source: https://www.behance.net/gallery/5568429/Various-Logo-Designs
}

.site_name {
  font-family: 'Hind Vadodara', sans-serif;
//   font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  padding-top: 28px;
  margin-left: -120px;
}

.title {
  font-size: 20px;   
  font-weight: bold;
}

.slogan {
  font-size: 18px;
  font-style: italic;  
}

.links {
  padding-top: 30px;
  margin-left: 40px;
}

.links a {
  color: black;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 25px;
  border-bottom: 0px solid #DFDFDF;
  display: inline;
  margin-right: 40px;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.next-quote {
  color: #F84342;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 18px;
//   text-decoration: underline;
}

.footer-blurb {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
  font-style: italic;
  text-align: right;
}