<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
      
    <p>Hey Velander,</p>
    
    <p>The following quote was just submitted for the SplurtyAbroad site:</p> 
    
    <p><%= @quote %></p>
    
    <p>Do you want to accept it or no?</p>
    
    <p>Keep coding, dummy,<br />
    JVH</p>

  </body>
</html>

